@font-face {
    font-family: Javacom;
    src: url(/Javacom.otf);
}
@import url('https://fonts.googleapis.com/css?family=Lato');

body { 
    background-image: url("background_medium.jpg");
    /*background-size: cover;*/
    background-attachment: fixed;
}
main>div {
    width: 90%;
    margin: 0.5rem auto;
}
main>section {
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    margin: 0.5rem auto;
}
.decoration {
    width: 100%;
    margin: auto;
}
header {
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 
}
h1 {
    font-size: 3em;
    font-family: Javacom, sans-serif;
    margin: 1.5em 5vw;
}
h2 {
    background-color: rgba(191, 191, 191, 1);
    font-family: arial, sans-serif;  
    font-size: 2em;
    margin: 0.5rem 0;
    padding: 0.3rem 5vw; 
}
nav ul{
    display: flex;

}
nav ul ul{
    display: none;
}
nav ul li:hover ul{
    display: block;
}
p {
    padding: 2rem;
}
